input[type=submit] {
	width: 500%;
	background-color: #1566a8;
	color: white;
	padding: 30px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	top: -200px;
	margin-left: -250%;
	font-size: x-large;
  }
.mediaViewInfo {
	--web-view-name: pos;
	--web-view-id: pos;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: pos;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#pos {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(25,25,25,1);
	overflow: hidden;
	--web-view-name: pos;
	--web-view-id: pos;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
#Rectangle_116 {
	fill: rgba(18,18,18,1);
}
.Rectangle_116 {
	position: absolute;
	overflow: visible;
	width: 399px;
	height: 980px;
	left: 0px;
	top: 100px;
}
#Rectangle_115 {
	fill: rgba(18,18,18,1);
}
.Rectangle_115 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 101px;
	left: 0px;
	top: 0px;
}
#Untitled_design_12 {
	position: absolute;
	width: 135px;
	height: 94px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#RNL_Vision_Care {
	left: 127px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Untitled_design_25 {
	position: absolute;
	width: 59px;
	height: 59px;
	left: 1820px;
	top: 21px;
	overflow: visible;
}
#Icon_ionic-md-notifications {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-md-notifications {
	overflow: visible;
	position: absolute;
	width: 27.378px;
	height: 32.355px;
	left: 1753px;
	top: 34.322px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_8 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 46px;
	height: 46px;
	left: 1744px;
	top: 28px;
}
#DASHBOARD {
	left: 118px;
	top: 219px;
	position: absolute;
	overflow: visible;
	width: 158px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Icon_material-dashboard {
	fill: rgba(255,255,255,1);
}
.Icon_material-dashboard {
	overflow: visible;
	position: absolute;
	width: 36.903px;
	height: 36.903px;
	left: 38px;
	top: 219px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-users {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-users {
	overflow: visible;
	position: absolute;
	width: 36.903px;
	height: 36.903px;
	left: 38px;
	top: 310px;
	transform: matrix(1,0,0,1,0,0);
}
#PATIENT_RECORDS {
	left: 118px;
	top: 307px;
	position: absolute;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#SALES {
	left: 118px;
	top: 395px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Icon_metro-money {
	fill: rgba(255,255,255,1);
}
.Icon_metro-money {
	overflow: visible;
	position: absolute;
	width: 36.903px;
	height: 36.903px;
	left: 38px;
	top: 402px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-glasses {
	fill: rgba(255,255,255,1);
}
.Icon_ionic-md-glasses {
	overflow: visible;
	position: absolute;
	width: 44.284px;
	height: 18.452px;
	left: 38px;
	top: 493px;
	transform: matrix(1,0,0,1,0,0);
}
#PRODUCT {
	left: 118px;
	top: 483px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
#Icon_material-insert-chart {
	fill: rgba(255,255,255,1);
}
.Icon_material-insert-chart {
	overflow: visible;
	position: absolute;
	width: 36.903px;
	height: 36.903px;
	left: 38px;
	top: 567px;
	transform: matrix(1,0,0,1,0,0);
}
#REPORTS {
	left: 118px;
	top: 571px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Icon_awesome-angle-double-left {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-angle-double-left {
	overflow: visible;
	position: absolute;
	width: 26.443px;
	height: 21.231px;
	left: 359px;
	top: 116px;
	transform: matrix(1,0,0,1,0,0);
}
#POINT_OF_SALES {
	left: 473px;
	top: 127px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Line_17 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_17 {
	overflow: visible;
	position: absolute;
	width: 1376px;
	height: 1px;
	left: 473.5px;
	top: 169.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_176 {
	fill: rgba(34,139,220,1);
}
.Rectangle_176 {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 30px;
	left: 1525px;
	top: 36px;
}
#Point_of_Sale {
	left: 1566px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
#Icon_map-accounting {
	fill: rgba(255,255,255,1);
}
.Icon_map-accounting {
	overflow: visible;
	position: absolute;
	width: 17.591px;
	height: 21.108px;
	left: 1540.199px;
	top: 40.445px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_59 {
	position: absolute;
	width: 1455.542px;
	height: 618.936px;
	left: 433.729px;
	top: 300.568px;
	overflow: visible;
}
#P-01 {
	left: 93.75px;
	top: 91px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Path_2 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 1448.542px;
	height: 617.936px;
	left: 7px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_23 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_23 {
	overflow: visible;
	position: absolute;
	width: 1455.542px;
	height: 617.936px;
	left: 0px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_7 {
	fill: rgba(238,238,238,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 1455.542px;
	height: 64.81px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Brand_Name {
	left: 43px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Model {
	left: 285.139px;
	top: 21.405px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Description {
	left: 464.465px;
	top: 21.405px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Line_55 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_55 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 549.867px;
	left: 223.465px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_56 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_56 {
	overflow: visible;
	position: absolute;
	width: 2.367px;
	height: 549.869px;
	left: 407.771px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_57 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_57 {
	overflow: visible;
	position: absolute;
	width: 3.021px;
	height: 549.871px;
	left: 617.771px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_58 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_58 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 550.867px;
	left: 776.443px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_59 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_59 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 617.936px;
	left: 902px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_60 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_60 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 617.936px;
	left: 1088.001px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_61 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_61 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 617.936px;
	left: 1275px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Price {
	left: 675.117px;
	top: 21.405px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Profit {
	left: 1158px;
	top: 21.405px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Amount {
	left: 963.674px;
	top: 21.405px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Qty {
	left: 831.771px;
	top: 21.405px;
	position: absolute;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Action {
	left: 1330.326px;
	top: 21.405px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Total_Amount_ {
	left: 905.674px;
	top: 506.982px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Total_Profit_ {
	left: 1091.676px;
	top: 506.982px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Rectangle_236 {
	fill: rgba(238,238,238,1);
}
.Rectangle_236 {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 44px;
	left: 1207px;
	top: 224px;
}
#Rectangle_237 {
	fill: rgba(34,121,220,1);
}
.Rectangle_237 {
	position: absolute;
	overflow: visible;
	width: 169px;
	height: 44px;
	left: 1347px;
	top: 223px;
}
#n_Add {
	left: 1404px;
	top: 232px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Path_24 {
	fill: rgba(238,238,238,1);
}
.Path_24 {
	overflow: visible;
	position: absolute;
	width: 750px;
	height: 44px;
	left: 434px;
	top: 224px;
	transform: matrix(1,0,0,1,0,0);
}
#Search_Product {
	opacity: 0.5;
	left: 451px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Icon_open-magnifying-glass {
	fill: rgba(0,0,0,1);
}
.Icon_open-magnifying-glass {
	overflow: visible;
	position: absolute;
	width: 28.989px;
	height: 31.423px;
	left: 1147.006px;
	top: 227.577px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_238 {
	fill: rgba(34,121,220,1);
}
.Rectangle_238 {
	position: absolute;
	overflow: visible;
	width: 102px;
	height: 41px;
	left: 1748px;
	top: 385px;
}
#x_Cancel {
	left: 1763px;
	top: 390px;
	position: absolute;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Line_64 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_64 {
	overflow: visible;
	position: absolute;
	width: 1456px;
	height: 1px;
	left: 433.271px;
	top: 784.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_65 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_65 {
	overflow: visible;
	position: absolute;
	width: 1455.004px;
	height: 6px;
	left: 424px;
	top: 849.946px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_239 {
	fill: rgba(34,121,220,1);
}
.Rectangle_239 {
	position: absolute;
	overflow: visible;
	width: 1455px;
	height: 57px;
	left: 434px;
	top: 953px;
}
#SAVE {
	left: 1132px;
	top: 964px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Icon_metro-users {
	fill: rgba(255,255,255,1);
}
.Icon_metro-users {
	overflow: visible;
	position: absolute;
	width: 37.571px;
	height: 33.396px;
	left: 38px;
	top: 658px;
	transform: matrix(1,0,0,1,0,0);
}
#MANAGE_USER {
	left: 118px;
	top: 659px;
	position: absolute;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#SUPPLIER {
	left: 118px;
	top: 747px;
	position: absolute;
	overflow: visible;
	width: 114px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Icon_metro-truck {
	fill: rgba(255,255,255,1);
}
.Icon_metro-truck {
	overflow: visible;
	position: absolute;
	width: 39.852px;
	height: 37px;
	left: 38px;
	top: 746px;
	transform: matrix(1,0,0,1,0,0);
}