input[type=submit] {
	width: 130%;
	background-color: #1566a8;
	color: white;
	padding: 15px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	margin-top: -100%;
	margin-left: -15%;
	font-size: large;
  }

.mediaViewInfo {
	--web-view-name: manageuser;
	--web-view-id: manageuser;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: manageuser;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#manageuser {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(25,25,25,1);
	overflow: hidden;
	--web-view-name: manageuser;
	--web-view-id: manageuser;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
#Rectangle_116 {
	fill: rgba(18,18,18,1);
}
.Rectangle_116 {
	position: absolute;
	overflow: visible;
	width: 399px;
	height: 980px;
	left: 0px;
	top: 100px;
}
#Rectangle_115 {
	fill: rgba(18,18,18,1);
}
.Rectangle_115 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 101px;
	left: 0px;
	top: 0px;
}
#Untitled_design_12 {
	position: absolute;
	width: 135px;
	height: 94px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#RNL_Vision_Care {
	left: 127px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Untitled_design_25 {
	position: absolute;
	width: 59px;
	height: 59px;
	left: 1820px;
	top: 21px;
	overflow: visible;
}
#Icon_ionic-md-notifications {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-md-notifications {
	overflow: visible;
	position: absolute;
	width: 27.378px;
	height: 32.355px;
	left: 1753px;
	top: 34.322px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_8 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 46px;
	height: 46px;
	left: 1744px;
	top: 28px;
}
#DASHBOARD {
	left: 118px;
	top: 219px;
	position: absolute;
	overflow: visible;
	width: 158px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Icon_material-dashboard {
	fill: rgba(255,255,255,1);
}
.Icon_material-dashboard {
	overflow: visible;
	position: absolute;
	width: 36.903px;
	height: 36.903px;
	left: 38px;
	top: 219px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-users {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-users {
	overflow: visible;
	position: absolute;
	width: 36.903px;
	height: 36.903px;
	left: 38px;
	top: 311px;
	transform: matrix(1,0,0,1,0,0);
}
#PATIENT_RECORDS {
	left: 118px;
	top: 307px;
	position: absolute;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#SALES {
	left: 118px;
	top: 394px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Icon_metro-money {
	fill: rgba(255,255,255,1);
}
.Icon_metro-money {
	overflow: visible;
	position: absolute;
	width: 36.903px;
	height: 36.903px;
	left: 38px;
	top: 402px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-glasses {
	fill: rgba(255,255,255,1);
}
.Icon_ionic-md-glasses {
	overflow: visible;
	position: absolute;
	width: 44.284px;
	height: 18.452px;
	left: 38px;
	top: 494px;
	transform: matrix(1,0,0,1,0,0);
}
#PRODUCT {
	left: 118px;
	top: 482px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
#Icon_material-insert-chart {
	fill: rgba(255,255,255,1);
}
.Icon_material-insert-chart {
	overflow: visible;
	position: absolute;
	width: 36.903px;
	height: 36.903px;
	left: 38px;
	top: 567px;
	transform: matrix(1,0,0,1,0,0);
}
#REPORTS {
	left: 118px;
	top: 571px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Icon_awesome-angle-double-left {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-angle-double-left {
	overflow: visible;
	position: absolute;
	width: 26.444px;
	height: 21.231px;
	left: 359px;
	top: 116px;
	transform: matrix(1,0,0,1,0,0);
}
#MANAGE_USER {
	left: 473px;
	top: 127px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Line_17 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_17 {
	overflow: visible;
	position: absolute;
	width: 1376px;
	height: 1px;
	left: 473.5px;
	top: 169.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_176 {
	fill: rgba(34,139,220,1);
}
.Rectangle_176 {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 30px;
	left: 1525px;
	top: 36px;
}
#Point_of_Sale {
	left: 1566px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
#Icon_map-accounting {
	fill: rgba(255,255,255,1);
}
.Icon_map-accounting {
	overflow: visible;
	position: absolute;
	width: 17.59px;
	height: 21.108px;
	left: 1540.2px;
	top: 40.445px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_metro-users {
	fill: rgba(255,255,255,1);
}
.Icon_metro-users {
	overflow: visible;
	position: absolute;
	width: 37.571px;
	height: 33.396px;
	left: 38px;
	top: 658px;
	transform: matrix(1,0,0,1,0,0);
}
#MANAGE_USER_bm {
	left: 118px;
	top: 658px;
	position: absolute;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(0,194,203,1);
}
#SUPPLIER {
	left: 118px;
	top: 746px;
	position: absolute;
	overflow: visible;
	width: 114px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Icon_metro-truck {
	fill: rgba(255,255,255,1);
}
.Icon_metro-truck {
	overflow: visible;
	position: absolute;
	width: 39.851px;
	height: 37px;
	left: 38px;
	top: 746px;
	transform: matrix(1,0,0,1,0,0);
}
#P-01 {
	left: 525.75px;
	top: 363px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Path_15 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_15 {
	overflow: visible;
	position: absolute;
	width: 1092px;
	height: 731px;
	left: 439px;
	top: 272px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_194 {
	fill: rgba(34,121,220,1);
}
.Rectangle_194 {
	position: absolute;
	overflow: visible;
	width: 181px;
	height: 44px;
	left: 441px;
	top: 211px;
}
#n_New_User {
	left: 480px;
	top: 222px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Rectangle_195 {
	fill: rgba(238,238,238,1);
}
.Rectangle_195 {
	position: absolute;
	overflow: visible;
	width: 746px;
	height: 44px;
	left: 721px;
	top: 211px;
}
#Search_User {
	opacity: 0.5;
	left: 740px;
	top: 223px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Rectangle_200 {
	fill: rgba(34,121,220,1);
}
.Rectangle_200 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 44px;
	left: 1483px;
	top: 211px;
}
#GO {
	left: 1493px;
	top: 223px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Path_16 {
	fill: rgba(238,238,238,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_16 {
	overflow: visible;
	position: absolute;
	width: 1092px;
	height: 64.81px;
	left: 439px;
	top: 272px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_210 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_210 {
	position: absolute;
	overflow: visible;
	width: 313px;
	height: 792px;
	left: 1558px;
	top: 211px;
}
#Line_66 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_66 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 731px;
	left: 622px;
	top: 272px;
	transform: matrix(1,0,0,1,0,0);
}
#Name {
	left: 494px;
	top: 286px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Username {
	left: 641px;
	top: 288px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Email {
	left: 840px;
	top: 288px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Contact_No {
	left: 989px;
	top: 288px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Position {
	left: 1179px;
	top: 286px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Action {
	left: 1391px;
	top: 286px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Line_67 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_67 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 731px;
	left: 767px;
	top: 267px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_68 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_68 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 731px;
	left: 970px;
	top: 261px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_69 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_69 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 731px;
	left: 1134px;
	top: 272px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_70 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_70 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 731px;
	left: 1306px;
	top: 267px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_63 {
	position: absolute;
	width: 89.455px;
	height: 32px;
	left: 1324.25px;
	top: 347px;
	overflow: visible;
}
#Rectangle_97 {
	fill: rgba(109,165,103,1);
}
.Rectangle_97 {
	position: absolute;
	overflow: visible;
	width: 89.455px;
	height: 32px;
	left: 0px;
	top: 0px;
}
#Update {
	left: 21.818px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Group_64 {
	position: absolute;
	width: 89.455px;
	height: 32px;
	left: 1425px;
	top: 347px;
	overflow: visible;
}
#Rectangle_98 {
	fill: rgba(119,65,42,1);
}
.Rectangle_98 {
	position: absolute;
	overflow: visible;
	width: 89.455px;
	height: 32px;
	left: 0px;
	top: 0px;
}
#REMOVE {
	left: 18.75px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Recent_User_Activities {
	left: 1572px;
	top: 225px;
	position: absolute;
	overflow: visible;
	width: 196px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(25,25,25,1);
}