.mediaViewInfo {
	--web-view-name: product;
	--web-view-id: product;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: product;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#product {
	position: absolute;
	width: 1920px;
	height: 2438px;
	background-color: rgba(25,25,25,1);
	overflow: hidden;
	--web-view-name: product;
	--web-view-id: product;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
#PRODUCT_y {
	left: 855px;
	top: 286px;
	position: absolute;
	overflow: visible;
	width: 174px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Home____Product_page {
	left: 818px;
	top: 334px;
	position: absolute;
	overflow: visible;
	width: 248px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Untitled_design_23 {
	mix-blend-mode: soft-light;
	position: absolute;
	width: 1956.989px;
	height: 235.79px;
	left: -36.989px;
	top: 168px;
	overflow: visible;
}
#Rectangle_66 {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,194,203,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_66 {
	position: absolute;
	overflow: visible;
	width: 639px;
	height: 55px;
	left: 1169px;
	top: 404px;
}
#Icon_feather-search {
	position: absolute;
	width: 19.912px;
	height: 19.912px;
	left: 1770.669px;
	top: 421.544px;
	overflow: visible;
}
#Path_6 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_6 {
	overflow: visible;
	position: absolute;
	width: 20.7px;
	height: 20.7px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_7 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 9.055px;
	height: 9.055px;
	left: 15.1px;
	top: 15.1px;
	transform: matrix(1,0,0,1,0,0);
}
#Search {
	opacity: 0.5;
	left: 1204px;
	top: 416px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(0,0,0,1);
}
#Rectangle_67 {
	fill: rgba(0,165,172,1);
}
.Rectangle_67 {
	position: absolute;
	overflow: visible;
	height: 66px;
	top: 522px;
}
#Group_11 {
	position: absolute;
	width: 171.5px;
	height: 29.25px;
	left: 446px;
	top: 919px;
	overflow: visible;
}
#Icon_ionic-ios-star {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 0px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_ {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_ {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 35px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_ba {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_ba {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 70px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_bb {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_bb {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 105px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star-half {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star-half {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 29.25px;
	left: 140px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#RNL_Eye_Glasses {
	left: 446px;
	top: 889px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n_1500 {
	left: 446px;
	top: 954px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Group_12 {
	position: absolute;
	width: 171.5px;
	height: 29.25px;
	left: 727px;
	top: 919px;
	overflow: visible;
}
#Icon_ionic-ios-star_bg {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_bg {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 0px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_bh {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_bh {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 35px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_bi {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_bi {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 70px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_bj {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_bj {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 105px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star-half_bk {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star-half_bk {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 29.25px;
	left: 140px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#RNL_Eye_Glasses_bl {
	left: 727px;
	top: 889px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n_1500_bm {
	left: 727px;
	top: 954px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Group_13 {
	position: absolute;
	width: 171.5px;
	height: 29.25px;
	left: 1008px;
	top: 919px;
	overflow: visible;
}
#Icon_ionic-ios-star_bo {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_bo {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 0px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_bp {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_bp {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 35px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_bq {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_bq {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 70px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_br {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_br {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 105px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star-half_bs {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star-half_bs {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 29.25px;
	left: 140px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#RNL_Eye_Glasses_bt {
	left: 1008px;
	top: 889px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n_1500_bu {
	left: 1008px;
	top: 954px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Group_14 {
	position: absolute;
	width: 171.5px;
	height: 29.25px;
	left: 1289px;
	top: 919px;
	overflow: visible;
}
#Icon_ionic-ios-star_bw {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_bw {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 0px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_bx {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_bx {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 35px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_by {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_by {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 70px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_bz {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_bz {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 105px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star-half_b {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star-half_b {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 29.25px;
	left: 140px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#RNL_Eye_Glasses_b {
	left: 1289px;
	top: 889px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n_1500_b {
	left: 1289px;
	top: 954px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Group_15 {
	position: absolute;
	width: 171.5px;
	height: 29.25px;
	left: 1570px;
	top: 919px;
	overflow: visible;
}
#Icon_ionic-ios-star_b {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_b {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 0px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_ca {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_ca {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 35px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_cb {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_cb {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 70px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_cc {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_cc {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 105px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star-half_ca {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star-half_ca {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 29.25px;
	left: 140px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#RNL_Eye_Glasses_ca {
	left: 1570px;
	top: 889px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n_1500_ca {
	left: 1570px;
	top: 954px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Group_17 {
	position: absolute;
	width: 171.5px;
	height: 29.25px;
	left: 446px;
	top: 1348px;
	overflow: visible;
}
#Icon_ionic-ios-star_cd {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_cd {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 0px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_ce {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_ce {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 35px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_cf {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_cf {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 70px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_cg {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_cg {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 105px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star-half_cg {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star-half_cg {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 29.25px;
	left: 140px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#RNL_Eye_Glasses_ch {
	left: 446px;
	top: 1318px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n_1500_ci {
	left: 446px;
	top: 1383px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Group_18 {
	position: absolute;
	width: 171.5px;
	height: 29.25px;
	left: 727px;
	top: 1348px;
	overflow: visible;
}
#Icon_ionic-ios-star_ck {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_ck {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 0px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_cl {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_cl {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 35px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_cm {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_cm {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 70px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_cn {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_cn {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 105px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star-half_co {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star-half_co {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 29.25px;
	left: 140px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#RNL_Eye_Glasses_cp {
	left: 727px;
	top: 1318px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n_1500_cq {
	left: 727px;
	top: 1383px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Group_19 {
	position: absolute;
	width: 171.5px;
	height: 29.25px;
	left: 1008px;
	top: 1348px;
	overflow: visible;
}
#Icon_ionic-ios-star_cs {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_cs {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 0px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_ct {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_ct {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 35px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_cu {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_cu {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 70px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_cv {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_cv {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 105px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star-half_cw {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star-half_cw {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 29.25px;
	left: 140px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#RNL_Eye_Glasses_cx {
	left: 1008px;
	top: 1318px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n_1500_cy {
	left: 1008px;
	top: 1383px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Group_20 {
	position: absolute;
	width: 171.5px;
	height: 29.25px;
	left: 1289px;
	top: 1348px;
	overflow: visible;
}
#Icon_ionic-ios-star_c {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_c {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 0px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_da {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_da {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 35px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_db {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_db {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 70px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_dc {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_dc {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 105px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star-half_c {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star-half_c {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 29.25px;
	left: 140px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#RNL_Eye_Glasses_c {
	left: 1289px;
	top: 1318px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n_1500_c {
	left: 1289px;
	top: 1383px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Group_21 {
	position: absolute;
	width: 171.5px;
	height: 29.25px;
	left: 1570px;
	top: 1348px;
	overflow: visible;
}
#Icon_ionic-ios-star_dd {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_dd {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 0px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_de {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_de {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 35px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_df {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_df {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 70px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_dg {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_dg {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 105px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star-half_dc {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star-half_dc {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 29.25px;
	left: 140px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#RNL_Eye_Glasses_dd {
	left: 1570px;
	top: 1318px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n_1500_de {
	left: 1570px;
	top: 1383px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Icon_awesome-filter {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-filter {
	overflow: visible;
	position: absolute;
	width: 33px;
	height: 33px;
	left: 63px;
	top: 530px;
	transform: matrix(1,0,0,1,0,0);
}
#SEARCH_FILTER {
	left: 102px;
	top: 530px;
	position: absolute;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Price_Range {
	left: 63px;
	top: 588px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}

#Rectangle_79 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_79 {
	position: absolute;
	overflow: visible;
	width: 110px;
	height: 29px;
	left: 63px;
	top: 641px;
}
#Rectangle_80 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_80 {
	position: absolute;
	overflow: visible;
	width: 110px;
	height: 29px;
	left: 230px;
	top: 641px;
}
#Rectangle_81 {
	fill: rgba(0,165,172,1);
}
.Rectangle_81 {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 29px;
	left: 63px;
	top: 680px;
}
#Apply {
	left: 180px;
	top: 685px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#Line_10 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10 {
	overflow: visible;
	position: absolute;
	width: 277px;
	height: 1px;
	left: 63.5px;
	top: 748.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Sort_by__ {
	left: 499px;
	top: 539px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Rectangle_83 {
	fill: rgba(255,255,255,1);
}
.Rectangle_83 {
	position: absolute;
	overflow: visible;
	width: 200px;
	height: 35px;
	left: 651px;
	top: 538px;
}
#Latest {
	opacity: 0.8;
	left: 666px;
	top: 544px;
	position: absolute;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#Icon_awesome-angle-down {
	fill: rgba(0,0,0,1);
}
.Icon_awesome-angle-down {
	overflow: visible;
	position: absolute;
	width: 22.493px;
	height: 14.527px;
	left: 821.007px;
	top: 549.237px;
	transform: matrix(1,0,0,1,0,0);
}
#Price_ {
	left: 987px;
	top: 539px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Rectangle_84 {
	fill: rgba(255,255,255,1);
}
.Rectangle_84 {
	position: absolute;
	overflow: visible;
	width: 263px;
	height: 35px;
	left: 1094px;
	top: 538px;
}
#Lowest_to_Highest {
	opacity: 0.8;
	left: 1109px;
	top: 544px;
	position: absolute;
	overflow: visible;
	width: 190px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#Icon_awesome-angle-down_du {
	fill: rgba(0,0,0,1);
}
.Icon_awesome-angle-down_du {
	overflow: visible;
	position: absolute;
	width: 22.493px;
	height: 14.527px;
	left: 1321.753px;
	top: 549.237px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_27 {
	position: absolute;
	width: 171.5px;
	height: 29.25px;
	left: 446px;
	top: 1777px;
	overflow: visible;
}
#Icon_ionic-ios-star_dw {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_dw {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 0px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_dx {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_dx {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 35px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_dy {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_dy {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 70px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_dz {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_dz {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 105px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star-half_d {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star-half_d {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 29.25px;
	left: 140px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#RNL_Eye_Glasses_d {
	left: 446px;
	top: 1747px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n_1500_d {
	left: 446px;
	top: 1812px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Group_28 {
	position: absolute;
	width: 171.5px;
	height: 29.25px;
	left: 727px;
	top: 1777px;
	overflow: visible;
}
#Icon_ionic-ios-star_d {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_d {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 0px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_ea {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_ea {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 35px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_eb {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_eb {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 70px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_ec {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_ec {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 105px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star-half_ea {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star-half_ea {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 29.25px;
	left: 140px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#RNL_Eye_Glasses_ea {
	left: 727px;
	top: 1747px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n_1500_ea {
	left: 727px;
	top: 1812px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Group_29 {
	position: absolute;
	width: 171.5px;
	height: 29.25px;
	left: 1008px;
	top: 1777px;
	overflow: visible;
}
#Icon_ionic-ios-star_ed {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_ed {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 0px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_ee {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_ee {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 35px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_ef {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_ef {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 70px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_eg {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_eg {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 105px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star-half_eg {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star-half_eg {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 29.25px;
	left: 140px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#RNL_Eye_Glasses_eh {
	left: 1008px;
	top: 1747px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n_1500_ei {
	left: 1008px;
	top: 1812px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Group_30 {
	position: absolute;
	width: 171.5px;
	height: 29.25px;
	left: 1289px;
	top: 1777px;
	overflow: visible;
}
#Icon_ionic-ios-star_ek {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_ek {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 0px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_el {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_el {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 35px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_em {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_em {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 70px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_en {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_en {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 105px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star-half_eo {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star-half_eo {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 29.25px;
	left: 140px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#RNL_Eye_Glasses_ep {
	left: 1289px;
	top: 1747px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n_1500_eq {
	left: 1289px;
	top: 1812px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Group_31 {
	position: absolute;
	width: 171.5px;
	height: 29.25px;
	left: 1570px;
	top: 1777px;
	overflow: visible;
}
#Icon_ionic-ios-star_es {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_es {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 0px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_et {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_et {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 35px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_eu {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_eu {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 70px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star_ev {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star_ev {
	overflow: visible;
	position: absolute;
	width: 29.459px;
	height: 27.355px;
	left: 105px;
	top: 0.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-star-half_ew {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-ios-star-half_ew {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 29.25px;
	left: 140px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#RNL_Eye_Glasses_ex {
	left: 1570px;
	top: 1747px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n_1500_ey {
	left: 1570px;
	top: 1812px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Rectangle_100 {
	fill: rgba(33,33,33,1);
}
.Rectangle_100 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 600px;
	left: 0px;
	top: 2146px;
}
#RNL_Vision_Care {
	left: 125.5px;
	top: 2238px;
	position: absolute;
	overflow: visible;
	width: 196px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Line_13 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_13 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 1px;
	left: 0px;
	top: 2363.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_2021_RNL_Vision_Care_All_Rig {
	left: 760.5px;
	top: 2386px;
	position: absolute;
	overflow: visible;
	width: 399px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_09123456789 {
	left: 166.5px;
	top: 2284px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#n_RNLVisionCaregmailcom {
	left: 117.5px;
	top: 2316px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Our_Social_Media___e {
	left: 671.5px;
	top: 2290px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Untitled_design_19 {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 1013.5px;
	top: 2272px;
	overflow: visible;
}
#Untitled_design_17 {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 939.5px;
	top: 2272px;
	overflow: visible;
}
#Untitled_design_18 {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 1087.5px;
	top: 2272px;
	overflow: visible;
}
#Our_Social_Media___e {
	left: 671.5px;
	top: 2290px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Feedback_Us__ {
	left: 1516.5px;
	top: 2238px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}

#Describe_your_issue_or_idea {
	opacity: 0.5;
	left: 1399.5px;
	top: 2303px;
	position: absolute;
	overflow: visible;
	width: 280px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
input[id=describeidea], select {
	width: 120%;
	padding: 20px 20px;
	margin: 8px 0;
	margin-top: -100px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-sizing: border-box;
	background-color: transparent;
	font-size: large;
	color: white;
  }
#Rectangle_102 {
	fill: rgba(0,194,203,1);
	stroke: rgba(25,25,25,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_102 {
	position: absolute;
	overflow: visible;
	width: 97px;
	height: 55px;
	left: 1750.5px;
	top: 2288px;
}
#Send {
	left: 1750px;
	top: 2292px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
input[type=button]{
	width: 130%;
	background-color: rgba(0,194,203,1);
	color: white;
	padding: 20px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	margin-top: -9%;
	margin-left: -15%;
	font-size: x-large;
	text-align: center; 
  }
#Rectangle_1 {
	fill: rgba(18,18,18,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 168px;
	left: 0px;
	top: 0px;
}
#Untitled_design_12 {
	position: absolute;
	width: 203px;
	height: 149px;
	left: 75px;
	top: 0px;
	overflow: visible;
}
#RNL_Vision_Care_fh {
	left: 233px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Icon_ionic-md-eye {
	fill: rgba(255,255,255,1);
}
.Icon_ionic-md-eye {
	overflow: visible;
	position: absolute;
	width: 53.692px;
	height: 36.194px;
	left: 1808px;
	top: 65.903px;
	transform: matrix(1,0,0,1,0,0);
}
#ABOUT {
	left: 915px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#HOME {
	left: 780px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#SERVICES {
	left: 1059px;
	top: 64px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#PRODUCT_fm {
	left: 1235px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(0,194,203,1);
}
#APPOINTMENT {
	left: 1418px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 210px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#LOGIN {
	left: 1672px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#n_ {
	position: absolute;
	width: 240px;
	height: 220px;
	left: 424px;
	top: 653px;
	overflow: visible;
}
#n__fq {
	position: absolute;
	width: 240px;
	height: 220px;
	left: 705px;
	top: 653px;
	overflow: visible;
}
#n__fr {
	position: absolute;
	width: 240px;
	height: 220px;
	left: 986px;
	top: 653px;
	overflow: visible;
}
#n__fs {
	position: absolute;
	width: 240px;
	height: 220px;
	left: 1267px;
	top: 653px;
	overflow: visible;
}
#n__ft {
	position: absolute;
	width: 240px;
	height: 220px;
	left: 1548px;
	top: 653px;
	overflow: visible;
}
#n__fu {
	position: absolute;
	width: 240px;
	height: 220px;
	left: 424px;
	top: 1082px;
	overflow: visible;
}
#n__fv {
	position: absolute;
	width: 240px;
	height: 220px;
	left: 705px;
	top: 1082px;
	overflow: visible;
}
#n__fw {
	position: absolute;
	width: 240px;
	height: 220px;
	left: 986px;
	top: 1082px;
	overflow: visible;
}
#n__fx {
	position: absolute;
	width: 240px;
	height: 220px;
	left: 1267px;
	top: 1082px;
	overflow: visible;
}
#n_0 {
	position: absolute;
	width: 240px;
	height: 220px;
	left: 1548px;
	top: 1082px;
	overflow: visible;
}
#n_1 {
	position: absolute;
	width: 240px;
	height: 220px;
	left: 424px;
	top: 1511px;
	overflow: visible;
}
#n_2 {
	position: absolute;
	width: 240px;
	height: 220px;
	left: 705px;
	top: 1511px;
	overflow: visible;
}
#n_3 {
	position: absolute;
	width: 240px;
	height: 220px;
	left: 986px;
	top: 1511px;
	overflow: visible;
}
#n_4 {
	position: absolute;
	width: 240px;
	height: 220px;
	left: 1267px;
	top: 1511px;
	overflow: visible;
}
#n_5 {
	position: absolute;
	width: 240px;
	height: 220px;
	left: 1548px;
	top: 1511px;
	overflow: visible;
}