.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 30%; 
    height: 100%; 
    overflow: auto; 
    margin-left: 40%;
    margin-top: 2%;

  }
  

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  button[type=submit] {
	width: 60%;
	background-color: #1566a8;
	color: white;
	padding: 15px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	top: -60%;
	margin-left: 40%;
	font-size: large;
  }