.mediaViewInfo {
	--web-view-name: services;
	--web-view-id: services;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: services;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#services {
	position: absolute;
	width: 1920px;
	height: 1377px;
	background-color: rgba(25,25,25,1);
	overflow: hidden;
	--web-view-name: services;
	--web-view-id: services;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
#SERVICES_y {
	left: 854px;
	top: 286px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Home____Services_page {
	left: 832px;
	top: 334px;
	position: absolute;
	overflow: visible;
	width: 257px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Untitled_design_23 {
	mix-blend-mode: soft-light;
	position: absolute;
	width: 1956.989px;
	height: 235.79px;
	left: -36.989px;
	top: 168px;
	overflow: visible;
}
#Rectangle_1 {
	fill: rgba(18,18,18,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#Untitled_design_12 {
	position: absolute;
	width: 150px;
	height: 105px;
	left: 75px;
	top: 0px;
	overflow: visible;
}
#RNL_Vision_Care {
	left: 233px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Icon_ionic-md-eye {
	fill: rgba(255,255,255,1);
}
.Icon_ionic-md-eye {
	overflow: visible;
	position: absolute;
	width: 53.692px;
	height: 36.194px;
	left: 1808px;
	top: 65.903px;
	transform: matrix(1,0,0,1,0,0);
}
#ABOUT {
	left: 915px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#HOME {
	left: 780px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#SERVICES_ {
	left: 1059px;
	top: 64px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(0,194,203,1);
}
#PRODUCT {
	left: 1235px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#APPOINTMENT {
	left: 1418px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 210px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#LOGIN {
	left: 1672px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#background {
	mix-blend-mode: soft-light;
	position: absolute;
	width: 1920px;
	height: 496px;
	left: 0px;
	top: 474px;
	overflow: visible;
}
#Rectangle_41 {
	fill: rgba(33,33,33,1);
}
.Rectangle_41 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 296px;
	left: 0px;
	top: 1081px;
}
#n_Service_1__Blah_blah_Blah_bl {
	left: 118px;
	top: 598px;
	position: absolute;
	overflow: visible;
	width: 770px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#RNL_Vision_Care_be {
	left: 125.5px;
	top: 1173px;
	position: absolute;
	overflow: visible;
	width: 196px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Line_9 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_9 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 1px;
	left: 0px;
	top: 1298.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_2021_RNL_Vision_Care_All_Rig {
	left: 760.5px;
	top: 1321px;
	position: absolute;
	overflow: visible;
	width: 399px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_09123456789 {
	left: 166.5px;
	top: 1219px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#n_RNLVisionCaregmailcom {
	left: 117.5px;
	top: 1251px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Our_Social_Media___bn {
	left: 671.5px;
	top: 1225px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Untitled_design_19 {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 1013.5px;
	top: 1207px;
	overflow: visible;
}
#Untitled_design_17 {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 939.5px;
	top: 1207px;
	overflow: visible;
}
#Untitled_design_18 {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 1087.5px;
	top: 1207px;
	overflow: visible;
}
#Our_Social_Media___bn {
	left: 671.5px;
	top: 1225px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Feedback_Us__ {
	left: 1516.5px;
	top: 1173px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}

#Describe_your_issue_or_idea {
	opacity: 0.5;
	left: 1419px;
	top: 1238px;
	position: absolute;
	overflow: visible;
	width: 280px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
input[id=describeidea], select {
	width: 120%;
	padding: 20px 20px;
	margin: 8px 0;
	margin-top: -100px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-sizing: border-box;
	background-color: transparent;
	font-size: large;
	color: white;
  }
	input[type=button]{
	  width: 130%;
	  background-color: rgba(0,194,203,1);
	  color: white;
	  padding: 20px 20px;
	  margin: 8px 0;
	  border: none;
	  border-radius: 10px;
	  cursor: pointer;
	  position: relative;
	  margin-top: -9%;
	  margin-left: -15%;
	  font-size: x-large;
	  text-align: center; 
	}

#Send {
	left: 1770px;
	top: 1227px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}

#Book_Appoinment_Here {
	left: 320px;
	top: 876px;
	position: absolute;
	overflow: visible;
	width: 310px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
input[id=bookappointment]{
	top: -20px;
	left: 90px;
	background-color: rgba(0,194,203,1);
	color: white;
	padding: 20px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 40px;
	cursor: pointer;
	position: relative;
	margin-top: -100%;
	margin-left: -15%;
	font-size: x-large;
	text-align: center;
}
#Untitled_design_24 {
	position: absolute;
	width: 415px;
	height: 417px;
	left: 1371px;
	top: 514px;
	overflow: visible;
}