.mediaViewInfo {
	--web-view-name: dashboard;
	--web-view-id: dashboard;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: dashboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Icon_awesome-clipboard-list {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-clipboard-list {
	overflow: visible;
	position: absolute;
	width: 33.146px;
	height: 39.779px;
	left: 38px;
	top: 832.11px;
	transform: matrix(1,0,0,1,0,0);
}
#AUDIT_TRAIL_bp {
	left: 118px;
	top: 834px;
	position: absolute;
	overflow: visible;
	width: 152px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: white;
}
#AUDIT_TRAIL {
	left: 473px;
	top: 127px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Icon_ionic-md-eye {
	fill: rgba(255,255,255,1);
}
.Icon_ionic-md-eye {
	overflow: visible;
	position: absolute;
	width: 53.692px;
	height: 36.194px;
	left: 1450px;
	top: 32.403px;
	transform: matrix(1,0,0,1,0,0);
}
#dashboard {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(25,25,25,1);
	overflow: hidden;
	--web-view-name: dashboard;
	--web-view-id: dashboard;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
#Rectangle_221 {
	fill: rgba(0,194,203,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_221 {
	position: absolute;
	overflow: visible;
	width: 1344px;
	height: 67px;
	left: 476px;
	top: 390px;
}
#Rectangle_116 {
	fill: rgba(18,18,18,1);
}
.Rectangle_116 {
	position: absolute;
	overflow: visible;
	width: 399px;
	height: 980px;
	left: 0px;
	top: 100px;
}
#Rectangle_115 {
	fill: rgba(18,18,18,1);
}
.Rectangle_115 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 101px;
	left: 0px;
	top: 0px;
}
#Untitled_design_12 {
	position: absolute;
	width: 135px;
	height: 94px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#RNL_Vision_Care {
	left: 127px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Untitled_design_25 {
	position: absolute;
	width: 59px;
	height: 59px;
	left: 1820px;
	top: 21px;
	overflow: visible;
}
#Icon_ionic-md-notifications {
	fill: rgba(0,194,203,1);
}
.Icon_ionic-md-notifications {
	overflow: visible;
	position: absolute;
	width: 27.378px;
	height: 32.355px;
	left: 1753px;
	top: 34.322px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_8 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 46px;
	height: 46px;
	left: 1744px;
	top: 28px;
}
#DASHBOARD_ {
	left: 117px;
	top: 219px;
	position: absolute;
	overflow: visible;
	width: 158px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(0,194,203,1);
}
#Icon_material-dashboard {
	fill: rgba(255,255,255,1);
}
.Icon_material-dashboard {
	overflow: visible;
	position: absolute;
	width: 36.904px;
	height: 36.903px;
	left: 38px;
	top: 219px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-users {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-users {
	overflow: visible;
	position: absolute;
	width: 36.904px;
	height: 36.903px;
	left: 38px;
	top: 310px;
	transform: matrix(1,0,0,1,0,0);
}
#PATIENT_RECORDS {
	left: 117px;
	top: 307px;
	position: absolute;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#SALES {
	left: 117px;
	top: 394px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Icon_metro-money {
	fill: rgba(255,255,255,1);
}
.Icon_metro-money {
	overflow: visible;
	position: absolute;
	width: 36.904px;
	height: 36.903px;
	left: 38px;
	top: 402px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-glasses {
	fill: rgba(255,255,255,1);
}
.Icon_ionic-md-glasses {
	overflow: visible;
	position: absolute;
	width: 44.284px;
	height: 18.452px;
	left: 38px;
	top: 493px;
	transform: matrix(1,0,0,1,0,0);
}
#PRODUCT {
	left: 117px;
	top: 482px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
#Icon_material-insert-chart {
	fill: rgba(255,255,255,1);
}
.Icon_material-insert-chart {
	overflow: visible;
	position: absolute;
	width: 36.904px;
	height: 36.903px;
	left: 38px;
	top: 567px;
	transform: matrix(1,0,0,1,0,0);
}
#REPORTS {
	left: 117px;
	top: 571px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Icon_awesome-angle-double-left {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-angle-double-left {
	overflow: visible;
	position: absolute;
	width: 26.443px;
	height: 21.231px;
	left: 359px;
	top: 116px;
	transform: matrix(1,0,0,1,0,0);
}
#DASHBOARD_bh {
	left: 473px;
	top: 127px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Line_17 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_17 {
	overflow: visible;
	position: absolute;
	width: 1376px;
	height: 1px;
	left: 473.5px;
	top: 169.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_117 {
	fill: rgba(17,167,184,1);
}
.Rectangle_117 {
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 158px;
	left: 1420px;
	top: 200px;
}
#Rectangle_118 {
	fill: rgba(15,109,62,1);
}
.Rectangle_118 {
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 158px;
	left: 473px;
	top: 200px;
}
#Rectangle_119 {
	fill: rgba(25,103,171,1);
}
.Rectangle_119 {
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 158px;
	left: 947px;
	top: 200px;
}
#Icon_awesome-user-nurse {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-user-nurse {
	overflow: visible;
	position: absolute;
	width: 90px;
	height: 100px;
	left: 987.5px;
	top: 232.598px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-user-alt {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-user-alt {
	overflow: visible;
	position: absolute;
	width: 90px;
	height: 100px;
	left: 506px;
	top: 233px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_metro-chart-line {
	fill: rgba(255,255,255,1);
}
.Icon_metro-chart-line {
	overflow: visible;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 1455px;
	top: 233px;
	transform: matrix(1,0,0,1,0,0);
}
#TOTAL_PROFIT {
	left: 1620px;
	top: 318px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#P_1500 {
	left: 1584px;
	top: 253px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(255,255,255,1);
}
#TOTAL_DOCTORS {
	left: 1151px;
	top: 318px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#n_ {
	left: 1179px;
	top: 253px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(255,255,255,1);
}
#TOTAL_PATIENTS {
	left: 676px;
	top: 318px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#n_0 {
	left: 704px;
	top: 253px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(255,255,255,1);
}
#Rectangle_176 {
	fill: rgba(34,139,220,1);
}
.Rectangle_176 {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 30px;
	left: 1525px;
	top: 36px;
}
#Point_of_Sale {
	left: 1566px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
#Icon_map-accounting {
	fill: rgba(255,255,255,1);
}
.Icon_map-accounting {
	overflow: visible;
	position: absolute;
	width: 17.59px;
	height: 21.108px;
	left: 1540.2px;
	top: 40.445px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56 {

	width: 1344px;
	height: 623px;
	left: 476px;
	top: 412px;

	overflow-x:auto;
}
#Group_55 {

	width: 1344px;
	height: 141px;
	left: 0px;
	top: 0px;

	overflow-x:auto;

}
#Group_40 {
	position: absolute;
	width: 847px;
	height: 141px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220 {
	fill: rgba(0,194,203,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220 {
	position: absolute;
	overflow: visible;
	width: 419px;
	height: 96px;
	left: 0px;
	top: 45px;
}
#Date {
	left: 26px;
	top: 76px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#UPCOMING_APPOINTMENT {
	left: 980px;
	top: 410px;
	position: absolute;
	overflow: visible;
	width: 351px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Group_44 {
	position: absolute;
	width: 234px;
	height: 96px;
	left: 1110px;
	top: 45px;
	overflow: visible;
}
#Rectangle_220_b {
	fill: rgba(0,194,203,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_b {
	position: absolute;
	overflow: visible;
	width: 234px;
	height: 96px;
	left: 0px;
	top: 0px;
}
#Day {
	left: 25px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Group_43 {
	position: absolute;
	width: 284px;
	height: 96px;
	left: 826px;
	top: 45px;
	overflow: visible;
}
#Path_19 {
	fill: rgba(0,194,203,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_19 {
	overflow: visible;
	position: absolute;
	width: 284px;
	height: 96px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Contact_No {
	left: 26px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Group_42 {
	position: absolute;
	width: 172px;
	height: 96px;
	left: 654px;
	top: 45px;
	overflow: visible;
}
#Path_20 {
	fill: rgba(0,194,203,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_20 {
	overflow: visible;
	position: absolute;
	width: 172px;
	height: 96px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Purpose {
	left: 24px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Group_41 {
	position: absolute;
	width: 235px;
	height: 96px;
	left: 419px;
	top: 45px;
	overflow: visible;
}
#Path_18 {
	fill: rgba(0,194,203,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_18 {
	overflow: visible;
	position: absolute;
	width: 235px;
	height: 96px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Name {
	left: 25px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Group_54 {
	position: absolute;
	width: 1344px;
	height: 96px;
	left: 0px;
	top: 526.999px;
	overflow: visible;
}
#Group_40_ch {
	position: absolute;
	width: 419px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_ci {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_ci {
	position: absolute;
	overflow: visible;
	width: 419px;
	height: 96px;
	left: 0px;
	top: 0.001px;
}
#Group_44_cj {
	position: absolute;
	width: 234px;
	height: 96px;
	left: 1110px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_ck {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_ck {
	position: absolute;
	overflow: visible;
	width: 234px;
	height: 96px;
	left: 0px;
	top: 0.001px;
}
#Group_43_cl {
	position: absolute;
	width: 284px;
	height: 96px;
	left: 826px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_cm {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_cm {
	position: absolute;
	overflow: visible;
	width: 284px;
	height: 96px;
	left: 0px;
	top: 0.001px;
}
#Group_42_cn {
	position: absolute;
	width: 172px;
	height: 96px;
	left: 654px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_co {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_co {
	position: absolute;
	overflow: visible;
	width: 172px;
	height: 96px;
	left: 0px;
	top: 0.001px;
}
#Group_41_cp {
	position: absolute;
	width: 235px;
	height: 96px;
	left: 419px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_cq {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_cq {
	position: absolute;
	overflow: visible;
	width: 235px;
	height: 96px;
	left: 0px;
	top: 0.001px;
}
#Group_52 {
	position: absolute;
	width: 1344px;
	height: 96px;
	left: 0px;
	top: 431px;
	overflow: visible;
}
#Group_40_cs {
	position: absolute;
	width: 419px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_ct {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_ct {
	position: absolute;
	overflow: visible;
	width: 419px;
	height: 96px;
	left: 0px;
	top: 0px;
}
#Group_44_cu {
	position: absolute;
	width: 234px;
	height: 96px;
	left: 1110px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_cv {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_cv {
	position: absolute;
	overflow: visible;
	width: 234px;
	height: 96px;
	left: 0px;
	top: 0px;
}
#Group_43_cw {
	position: absolute;
	width: 284px;
	height: 96px;
	left: 826px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_cx {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_cx {
	position: absolute;
	overflow: visible;
	width: 284px;
	height: 96px;
	left: 0px;
	top: 0px;
}
#Group_42_cy {
	position: absolute;
	width: 172px;
	height: 96px;
	left: 654px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_cz {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_cz {
	position: absolute;
	overflow: visible;
	width: 172px;
	height: 96px;
	left: 0px;
	top: 0px;
}
#Group_41_c {
	position: absolute;
	width: 235px;
	height: 96px;
	left: 419px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_c {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_c {
	position: absolute;
	overflow: visible;
	width: 235px;
	height: 96px;
	left: 0px;
	top: 0px;
}
#Group_50 {
	position: absolute;
	width: 1344px;
	height: 98px;
	left: 0px;
	top: 333px;
	overflow: visible;
}
#Group_40_c {
	position: absolute;
	width: 419px;
	height: 98px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_da {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_da {
	position: absolute;
	overflow: visible;
	width: 419px;
	height: 98px;
	left: 0px;
	top: 0px;
}
#Group_44_c {
	position: absolute;
	width: 234px;
	height: 98px;
	left: 1110px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_db {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_db {
	position: absolute;
	overflow: visible;
	width: 234px;
	height: 98px;
	left: 0px;
	top: 0px;
}
#Group_43_c {
	position: absolute;
	width: 284px;
	height: 98px;
	left: 826px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_dc {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_dc {
	position: absolute;
	overflow: visible;
	width: 284px;
	height: 98px;
	left: 0px;
	top: 0px;
}
#Group_42_c {
	position: absolute;
	width: 172px;
	height: 98px;
	left: 654px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_dd {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_dd {
	position: absolute;
	overflow: visible;
	width: 172px;
	height: 98px;
	left: 0px;
	top: 0px;
}
#Group_41_db {
	position: absolute;
	width: 235px;
	height: 98px;
	left: 419px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_de {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_de {
	position: absolute;
	overflow: visible;
	width: 235px;
	height: 98px;
	left: 0px;
	top: 0px;
}
#Group_48 {
	position: absolute;
	width: 1344px;
	height: 95px;
	left: 0px;
	top: 238px;
	overflow: visible;
}
#Group_40_de {
	position: absolute;
	width: 419px;
	height: 95px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_df {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_df {
	position: absolute;
	overflow: visible;
	width: 419px;
	height: 95px;
	left: 0px;
	top: 0px;
}
#Group_44_dg {
	position: absolute;
	width: 234px;
	height: 95px;
	left: 1110px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_dh {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_dh {
	position: absolute;
	overflow: visible;
	width: 234px;
	height: 95px;
	left: 0px;
	top: 0px;
}
#Group_43_di {
	position: absolute;
	width: 284px;
	height: 95px;
	left: 826px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_dj {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_dj {
	position: absolute;
	overflow: visible;
	width: 284px;
	height: 95px;
	left: 0px;
	top: 0px;
}
#Group_42_dk {
	position: absolute;
	width: 172px;
	height: 95px;
	left: 654px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_dl {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_dl {
	position: absolute;
	overflow: visible;
	width: 172px;
	height: 95px;
	left: 0px;
	top: 0px;
}
#Group_41_dm {
	position: absolute;
	width: 235px;
	height: 95px;
	left: 419px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_dn {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_dn {
	position: absolute;
	overflow: visible;
	width: 235px;
	height: 95px;
	left: 0px;
	top: 0px;
}
#Group_46 {
	position: absolute;
	width: 1344px;
	height: 97px;
	left: 0px;
	top: 141px;
	overflow: visible;
}
#Group_40_dp {
	position: absolute;
	width: 419px;
	height: 97px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_dq {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_dq {
	position: absolute;
	overflow: visible;
	width: 419px;
	height: 97px;
	left: 0px;
	top: 0px;
}
#Group_44_dr {
	position: absolute;
	width: 234px;
	height: 97px;
	left: 1110px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_ds {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_ds {
	position: absolute;
	overflow: visible;
	width: 234px;
	height: 97px;
	left: 0px;
	top: 0px;
}
#Group_43_dt {
	position: absolute;
	width: 284px;
	height: 97px;
	left: 826px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_du {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_du {
	position: absolute;
	overflow: visible;
	width: 284px;
	height: 97px;
	left: 0px;
	top: 0px;
}
#Group_42_dv {
	position: absolute;
	width: 172px;
	height: 97px;
	left: 654px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_dw {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_dw {
	position: absolute;
	overflow: visible;
	width: 172px;
	height: 97px;
	left: 0px;
	top: 0px;
}
#Group_41_dx {
	position: absolute;
	width: 235px;
	height: 97px;
	left: 419px;
	top: 0px;
	overflow: visible;
}
#Rectangle_220_dy {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_220_dy {
	position: absolute;
	overflow: visible;
	width: 235px;
	height: 97px;
	left: 0px;
	top: 0px;
}
#Icon_metro-users {
	fill: rgba(255,255,255,1);
}
.Icon_metro-users {
	overflow: visible;
	position: absolute;
	width: 37.571px;
	height: 33.396px;
	left: 38px;
	top: 658px;
	transform: matrix(1,0,0,1,0,0);
}
#MANAGE_USER {
	left: 117px;
	top: 658px;
	position: absolute;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#SUPPLIER {
	left: 117px;
	top: 746px;
	position: absolute;
	overflow: visible;
	width: 114px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Icon_metro-truck {
	fill: rgba(255,255,255,1);
}
.Icon_metro-truck {
	overflow: visible;
	position: absolute;
	width: 39.851px;
	height: 37px;
	left: 38px;
	top: 746px;
	transform: matrix(1,0,0,1,0,0);
}

