.mediaViewInfo {
	--web-view-name: about;
	--web-view-id: about;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: about;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#about {
	position: absolute;
	width: 1920px;
	height: 2909px;
	background-color: rgba(18,18,18,1);
	overflow: hidden;
	--web-view-name: about;
	--web-view-id: about;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
#Rectangle_178 {
	fill: rgba(33,33,33,1);
}
.Rectangle_178 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 296px;
	left: 0px;
	top: 2613px;
}
#ABOUT_z {
	left: 898px;
	top: 274px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Home____About_page {
	left: 833px;
	top: 336px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Untitled_design_23 {
	mix-blend-mode: soft-light;
	position: absolute;
	width: 1956.989px;
	height: 235.79px;
	left: -36.989px;
	top: 168px;
	overflow: visible;
}
#Untitled_design_24 {
	position: absolute;
	width: 535px;
	height: 532px;
	left: 74px;
	top: 453px;
	overflow: visible;
}
#Lorem_ipsum_viverra_feugiat_Pe {
	left: 825px;
	top: 474px;
	position: absolute;
	overflow: visible;
	width: 993px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Untitled_design_23_ {
	mix-blend-mode: soft-light;
	position: absolute;
	width: 1920px;
	height: 630px;
	left: 0px;
	top: 1077px;
	overflow: visible;
}
#OUR_CORE_VALUES {
	left: 791px;
	top: 1153px;
	position: absolute;
	overflow: visible;
	width: 339px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#MISSION {
	left: 901px;
	top: 1231px;
	position: absolute;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	color: rgba(0,194,203,1);
}
#Lorem_ipsum_viverra_feugiat_Pe_ {
	left: 560px;
	top: 1295px;
	position: absolute;
	overflow: visible;
	width: 801px;
	height: 101px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#VISION {
	left: 913px;
	top: 1435px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	color: rgba(0,194,203,1);
}
#Lorem_ipsum_viverra_feugiat_Pe_ba {
	left: 560px;
	top: 1499px;
	position: absolute;
	overflow: visible;
	width: 801px;
	height: 101px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#MEET_OUR_DOCTORS {
	left: 776px;
	top: 1828px;
	position: absolute;
	overflow: visible;
	width: 370px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Group_5 {
	position: absolute;
	width: 344px;
	height: 493px;
	left: 788px;
	top: 1959px;
	overflow: visible;
}
#Untitled_design_25 {
	position: absolute;
	width: 344px;
	height: 493px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_40 {
	fill: rgba(25,25,25,1);
	stroke: rgba(238,238,238,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_40 {
	position: absolute;
	overflow: visible;
	width: 344px;
	height: 103px;
	left: 0px;
	top: 390px;
}
#Group_6 {
	position: absolute;
	width: 344px;
	height: 493px;
	left: 1182px;
	top: 1959px;
	overflow: visible;
}
#Untitled_design_25_bf {
	position: absolute;
	width: 344px;
	height: 493px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_40_bg {
	fill: rgba(25,25,25,1);
	stroke: rgba(238,238,238,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_40_bg {
	position: absolute;
	overflow: visible;
	width: 344px;
	height: 103px;
	left: 0px;
	top: 390px;
}
#Group_7 {
	position: absolute;
	width: 344px;
	height: 493px;
	left: 394px;
	top: 1959px;
	overflow: visible;
}
#Untitled_design_25_bi {
	position: absolute;
	width: 344px;
	height: 493px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_40_bj {
	fill: rgba(25,25,25,1);
	stroke: rgba(238,238,238,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_40_bj {
	position: absolute;
	overflow: visible;
	width: 344px;
	height: 103px;
	left: 0px;
	top: 390px;
}
#Marliardo_Umbao {
	left: 464px;
	top: 2365px;
	position: absolute;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#OPTOMETRIST {
	left: 509px;
	top: 2411px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Marliardo_Umbao_bm {
	left: 858px;
	top: 2365px;
	position: absolute;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#OPHTHALMOLOGIST {
	left: 880px;
	top: 2411px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Marliardo_Umbao_bo {
	left: 1252px;
	top: 2365px;
	position: absolute;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#OPTICIAN {
	left: 1316px;
	top: 2411px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#RNL_Vision_Care {
	left: 125.5px;
	top: 2705px;
	position: absolute;
	overflow: visible;
	width: 196px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n_2021_RNL_Vision_Care_All_Rig {
	left: 760.5px;
	top: 2853px;
	position: absolute;
	overflow: visible;
	width: 399px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_09123456789 {
	left: 166.5px;
	top: 2751px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#n_RNLVisionCaregmailcom {
	left: 117.5px;
	top: 2783px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Our_Social_Media___by {
	left: 671.5px;
	top: 2757px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Untitled_design_19 {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 1013.5px;
	top: 2739px;
	overflow: visible;
}
#Untitled_design_17 {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 939.5px;
	top: 2739px;
	overflow: visible;
}
#Untitled_design_18 {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 1087.5px;
	top: 2739px;
	overflow: visible;
}
#Our_Social_Media___by {
	left: 671.5px;
	top: 2757px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Feedback_Us__ {
	left: 1516.5px;
	top: 2705px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Rectangle_36 {
	fill: rgba(25,25,25,1);
	stroke: rgba(25,25,25,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_36 {
	position: absolute;
	overflow: visible;
	width: 485px;
	height: 55px;
	left: 1362.5px;
	top: 2755px;
}
#Describe_your_issue_or_idea {
	opacity: 0.5;
	left: 1399.5px;
	top: 2770px;
	position: absolute;
	overflow: visible;
	width: 280px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Rectangle_37 {
	fill: rgba(0,194,203,1);
	stroke: rgba(25,25,25,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_37 {
	position: absolute;
	overflow: visible;
	width: 97px;
	height: 55px;
	left: 1750.5px;
	top: 2755px;
}
#Send {
	left: 1773.5px;
	top: 2770px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Rectangle_1 {
	fill: rgba(18,18,18,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 168px;
	left: 0px;
	top: 0px;
}
#Untitled_design_12 {
	position: absolute;
	width: 203px;
	height: 149px;
	left: 75px;
	top: 0px;
	overflow: visible;
}
#RNL_Vision_Care_b {
	left: 233px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Icon_ionic-md-eye {
	fill: rgba(255,255,255,1);
}
.Icon_ionic-md-eye {
	overflow: visible;
	position: absolute;
	width: 53.692px;
	height: 36.194px;
	left: 1808px;
	top: 65.903px;
	transform: matrix(1,0,0,1,0,0);
}
#ABOUT_b {
	left: 915px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(0,194,203,1);
}
#HOME {
	left: 780px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#SERVICES {
	left: 1059px;
	top: 64px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#PRODUCT {
	left: 1235px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#APPOINTMENT {
	left: 1418px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 210px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#LOGIN {
	left: 1672px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}