.mediaViewInfo {
	--web-view-name: login;
	--web-view-id: login;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: login;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#login {
	position: absolute;
	width: 1920px;
	height: 1382px;
	background-color: rgba(25,25,25,1);
	overflow: hidden;
	--web-view-name: login;
	--web-view-id: login;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#LOGIN_y {
	left: 905px;
	top: 286px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Home____Login_page {
	left: 849px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 224px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Untitled_design_23_bh {
	mix-blend-mode: soft-light;
	position: absolute;
	width: 1956.988px;
	height: 235.79px;
	left: -36.989px;
	top: 168px;
	overflow: visible;
}
#Rectangle_100 {
	fill: rgba(33,33,33,1);
}
.Rectangle_100 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 296px;
	left: 0px;
	top: 1086px;
}
#RNL_Vision_Care_bj {
	left: 125.5px;
	top: 1178px;
	position: absolute;
	overflow: visible;
	width: 196px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Line_13 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_13 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 1px;
	left: 0px;
	top: 1303.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_2021_RNL_Vision_Care_All_Rig_bl {
	left: 760.5px;
	top: 1326px;
	position: absolute;
	overflow: visible;
	width: 399px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_09123456789_bm {
	left: 166.5px;
	top: 1224px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#n_RNLVisionCaregmailcom_bn {
	left: 117.5px;
	top: 1256px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Our_Social_Media___bo {
	left: 671.5px;
	top: 1230px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Untitled_design_19 {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 1013.5px;
	top: 1212px;
	overflow: visible;
}
#Untitled_design_17 {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 939.5px;
	top: 1212px;
	overflow: visible;
}
#Untitled_design_18 {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 1087.5px;
	top: 1212px;
	overflow: visible;
}
#Our_Social_Media___bo {
	left: 671.5px;
	top: 1230px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Feedback_Us___bp {
	left: 1516.5px;
	top: 1178px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Rectangle_101 {
	fill: rgba(25,25,25,1);
	stroke: rgba(25,25,25,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_101 {
	position: absolute;
	overflow: visible;
	width: 485px;
	height: 55px;
	left: 1362.5px;
	top: 1228px;
}
#Describe_your_issue_or_idea_br {
	opacity: 0.5;
	left: 1399.5px;
	top: 1243px;
	position: absolute;
	overflow: visible;
	width: 280px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Rectangle_102 {
	fill: rgba(0,194,203,1);
	stroke: rgba(25,25,25,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_102 {
	position: absolute;
	overflow: visible;
	width: 97px;
	height: 55px;
	left: 1750.5px;
	top: 1228px;
}
#Send_bt {
	left: 1773.5px;
	top: 1243px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Untitled_design_23_bh {
	mix-blend-mode: soft-light;
	position: absolute;
	width: 1956.988px;
	height: 235.79px;
	left: -36.989px;
	top: 168px;
	overflow: visible;
}
#Rectangle_103 {
	fill: rgba(33,33,33,1);
}
.Rectangle_103 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 296px;
	left: 0px;
	top: 1086px;
}
#RNL_Vision_Care_bj {
	left: 125.5px;
	top: 1178px;
	position: absolute;
	overflow: visible;
	width: 196px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Line_14 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_14 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 1px;
	left: 0px;
	top: 1303.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_2021_RNL_Vision_Care_All_Rig_bl {
	left: 760.5px;
	top: 1326px;
	position: absolute;
	overflow: visible;
	width: 399px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_09123456789_bm {
	left: 166.5px;
	top: 1224px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#n_RNLVisionCaregmailcom_bn {
	left: 117.5px;
	top: 1256px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Our_Social_Media___bo {
	left: 671.5px;
	top: 1230px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Feedback_Us___bp {
	left: 1516.5px;
	top: 1178px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Rectangle_104 {
	fill: rgba(25,25,25,1);
	stroke: rgba(25,25,25,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_104 {
	position: absolute;
	overflow: visible;
	width: 485px;
	height: 55px;
	left: 1362.5px;
	top: 1228px;
}
#Describe_your_issue_or_idea_br {
	opacity: 0.5;
	left: 1399.5px;
	top: 1243px;
	position: absolute;
	overflow: visible;
	width: 280px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Rectangle_105 {
	fill: rgba(0,194,203,1);
	stroke: rgba(25,25,25,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_105 {
	position: absolute;
	overflow: visible;
	width: 97px;
	height: 55px;
	left: 1750.5px;
	top: 1228px;
}
#Send_bt {
	left: 1773.5px;
	top: 1243px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Rectangle_44 {
	fill: rgba(33,33,33,1);
	stroke: rgba(238,238,238,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_44 {
	position: absolute;
	overflow: visible;
	width: 561px;
	height: 650px;
	left: 679.5px;
	top: 390.5px;
}
#Rectangle_46 {
	fill: rgba(0,194,203,1);
	stroke: rgba(25,25,25,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_46 {
	position: absolute;
	overflow: visible;
	width: 248px;
	height: 77px;
	left: 836px;
	top: 849px;
}
#Rectangle_47 {
	fill: rgba(33,33,33,1);
	stroke: rgba(238,238,238,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_47 {
	position: absolute;
	overflow: visible;
	width: 444px;
	height: 77px;
	left: 734.5px;
	top: 563.5px;
}
#EMAIL {
	opacity: 0.5;
	left: 767.232px;
	top: 590.5px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(238,238,238,1);
}
#LOGIN_by {
	left: 914px;
	top: 871px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Rectangle_57 {
	fill: rgba(33,33,33,1);
	stroke: rgba(238,238,238,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_57 {
	position: absolute;
	overflow: visible;
	width: 444px;
	height: 77px;
	left: 734.5px;
	top: 671.5px;
}
#RNL_Vision_Care_b {
	left: 824.5px;
	top: 420.5px;
	position: absolute;
	overflow: visible;
	width: 274px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Forgot_Password {
	left: 1008.5px;
	top: 761.5px;
	position: absolute;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(71,127,226,1);
	text-decoration: underline;
}
#Sign_in_to_start_your_session {
	left: 813.5px;
	top: 472.5px;
	position: absolute;
	overflow: visible;
	width: 296px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#By_using_this_services_you_und {
	left: 750px;
	top: 950px;
	position: absolute;
	overflow: visible;
	width: 421px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#PASSWORD {
	opacity: 0.5;
	left: 767.232px;
	top: 692.5px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(238,238,238,1);
}
#Line_15 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_15 {
	overflow: visible;
	position: absolute;
	width: 305px;
	height: 1px;
	left: 847.25px;
	top: 467.604px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_1 {
	fill: rgba(18,18,18,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 168px;
	left: 0px;
	top: 0px;
}
#Untitled_design_12_c {
	position: absolute;
	width: 203px;
	height: 149px;
	left: 75px;
	top: 0px;
	overflow: visible;
}
#RNL_Vision_Care_c {
	left: 233px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Icon_ionic-md-eye_c {
	fill: rgba(255,255,255,1);
}
.Icon_ionic-md-eye_c {
	overflow: visible;
	position: absolute;
	width: 53.692px;
	height: 36.194px;
	left: 1808px;
	top: 65.903px;
	transform: matrix(1,0,0,1,0,0);
}
#ABOUT_cu {
	left: 916px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#HOME_cv {
	left: 780px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#SERVICES_cw {
	left: 1065px;
	top: 64px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#PRODUCT_cx {
	left: 1243px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#APPOINTMENT_cy {
	left: 1432px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 210px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(0,194,203,1);
}
#LOGIN_cz {
	left: 1668px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#Rectangle_106 {
	fill: rgba(18,18,18,1);
}
.Rectangle_106 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 168px;
	left: 0px;
	top: 0px;
}
#Untitled_design_12_c {
	position: absolute;
	width: 203px;
	height: 149px;
	left: 75px;
	top: 0px;
	overflow: visible;
}
#RNL_Vision_Care_c {
	left: 233px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Icon_ionic-md-eye_c {
	fill: rgba(255,255,255,1);
}
.Icon_ionic-md-eye_c {
	overflow: visible;
	position: absolute;
	width: 53.692px;
	height: 36.194px;
	left: 1808px;
	top: 65.903px;
	transform: matrix(1,0,0,1,0,0);
}
#ABOUT_cu {
	left: 916px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#HOME_cv {
	left: 780px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#SERVICES_cw {
	left: 1065px;
	top: 64px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#PRODUCT_cx {
	left: 1243px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#APPOINTMENT_co {
	left: 1432px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 210px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: view;
	--web-action-target: appointment;
	cursor: pointer;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#LOGIN_cp {
	left: 1668px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(0,194,203,1);
}
#Rectangle_218 {
	fill: rgba(18,18,18,1);
}
.Rectangle_218 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 168px;
	left: 0px;
	top: 0px;
}
#Untitled_design_12_c {
	position: absolute;
	width: 203px;
	height: 149px;
	left: 75px;
	top: 0px;
	overflow: visible;
}
#RNL_Vision_Care_c {
	left: 233px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Icon_ionic-md-eye_c {
	fill: rgba(255,255,255,1);
}
.Icon_ionic-md-eye_c {
	overflow: visible;
	position: absolute;
	width: 53.692px;
	height: 36.194px;
	left: 1808px;
	top: 65.903px;
	transform: matrix(1,0,0,1,0,0);
}
#ABOUT_cu {
	left: 916px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#HOME_cv {
	left: 780px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#SERVICES_cw {
	left: 1065px;
	top: 64px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#PRODUCT_cx {
	left: 1243px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#APPOINTMENT_cy {
	left: 1432px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 210px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(0,194,203,1);
}
#LOGIN_cz {
	left: 1668px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#Rectangle_219 {
	fill: rgba(18,18,18,1);
}
.Rectangle_219 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 168px;
	left: 0px;
	top: 0px;
}
#Untitled_design_12_c {
	position: absolute;
	width: 203px;
	height: 149px;
	left: 75px;
	top: 0px;
	overflow: visible;
}
#RNL_Vision_Care_c {
	left: 233px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Icon_ionic-md-eye_c {
	fill: rgba(255,255,255,1);
}
.Icon_ionic-md-eye_c {
	overflow: visible;
	position: absolute;
	width: 53.692px;
	height: 36.194px;
	left: 1808px;
	top: 65.903px;
	transform: matrix(1,0,0,1,0,0);
}
#ABOUT_c {
	left: 923px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#HOME_c {
	left: 790px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#SERVICES_c {
	left: 1066px;
	top: 64px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#PRODUCT_c {
	left: 1240px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#APPOINTMENT_c {
	left: 1421px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 210px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#LOGIN_c {
	left: 1674px;
	top: 64px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(0,194,203,1);
}
#Sign_Up {
	left: 1106px;
	top: 798px;
	position: absolute;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(0,194,203,1);
	text-decoration: underline;
}