.mediaViewInfo {
	--web-view-name: login;
	--web-view-id: login;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: login;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#login {
	position: absolute;
	width: 1920px;
	height: 1085px;
	background-color: rgba(25,25,25,1);
	overflow: hidden;
	--web-view-name: login;
	--web-view-id: login;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
}

#Rectangle_61 {
	fill: rgba(25,25,25,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_61 {
	position: absolute;
	overflow: visible;
	width: 806px;
	height: 646px;
	left: 557px;
	top: 220px;
}

#EMAIL {
	opacity: 0.5;
	left: 668.5px;
	top: 489px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
input[id=email_], select {
	width: 900%;
	padding: 20px 20px;
	margin: 8px 0;
	margin-top: -10px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-sizing: border-box;
	background-color: transparent;
	font-size: xx-large;
	color: white;
  }
#PASSWORD {
	opacity: 0.5;
	left: 668.5px;
	top: 606px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
input[id=password_], select {
	width: 475%;
	padding: 20px 20px;
	margin: 8px 0;
	margin-top: -10px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-sizing: border-box;
	background-color: transparent;
	font-size: xx-large;
	color: white;
  }
#LOGIN_ {
	left: 916px;
	top: 740px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
input[type=submit]{
	width: 400%;
	left: -130px;
	background-color: rgba(0,194,203,1);
	color: white;
	padding: 20px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	margin-top: -9%;
	margin-left: -15%;
	font-size: xx-large;
	text-align: center; 
  }

#Rectangle_65 {
	fill: rgba(18,18,18,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_65 {
	position: absolute;
	overflow: visible;
	width: 806px;
	height: 197px;
	left: 557px;
	top: 220px;
}
#Untitled_design_12 {
	position: absolute;
	width: 203px;
	height: 149px;
	left: 727px;
	top: 235px;
	overflow: visible;
}
#RNL_Vision_Care {
	left: 885px;
	top: 286px;
	position: absolute;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}